POSTGRES_DB=eventflow_db
POSTGRES_USER=eventflow
POSTGRES_PASSWORD=eventflow123
POSTGRES_PORT=5432
REDIS_PORT=6379
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=eventflow
RABBITMQ_DEFAULT_PASS=eventflow123

AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_REGION=us-east-2
AWS_S3_BUCKET=your-bucket-name
AWS_S3_PRODUCT_IMAGES_PREFIX=eventflow
AWS_S3_PUBLIC_BASE_URL=

S3__AccessKey=your-access-key
S3__SecretKey=your-secret-key
S3__Region=us-east-1
S3__BucketName=your-bucket-name
S3__PublicBaseUrl=
S3__KeyPrefix=eventflow
