POSTGRES_DB=eventflow_db
POSTGRES_USER=eventflow
POSTGRES_PASSWORD=eventflow123
POSTGRES_PORT=5432
REDIS_PORT=6379
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=eventflow
RABBITMQ_DEFAULT_PASS=eventflow123
